/* maroon: #630031, orange: #cf4420 */

/***** all universal CSS (header buttons, dropdown, window dependency) *****/
		body {
			background-color: #1c1c1c;
			width: 100vw;
		}
		p {
			font-size: 20px;
			color: white;
		}
		td {
			color: white;
		}
		h1 {
			color: #cf4420;
			font-family: georgia;
			font-size: 50px;
		}
		th {
			padding: 1vw;
			font-size: 30px;
		}
		.pages {
			display: table-row;
			margin-right: 0vw;
			float: right;
		}
		.expand {
			display: none;
		}
		
		/* used for weblanding */
		#img {
			padding: 0px 0px 0px 40px;
			width: 400px;
			height: 300px;
		}
		.tint {
			background-image:
				linear-gradient( /* <!-- give tint to image to make text better readable --> */
					rgba(0, 0, 0, .33),
					rgba(0, 0, 0, .33)
				),
				url("../IMG/Chickens_resized_1.jpg");
			padding: 0% 0% 5% 10%;
			height: 600px;
		}
		#pagedata {
			width: 80%;
		}
		#second {
			padding: 30px;
			text-align: right;
		}
		
		/*  aspects for all button classes  */
		.button {
			border: none;
			background-color: inherit;
			padding: 14px 20px 10px 20px;
			font-size: 16px;
			cursor: pointer;
			display: inline-block; 
			white-space: nowrap; /*  puts text on one line, no split to next line  */
			color: white;
		}
	
		.button:hover {
			background-color: white;
		}
	
		/* dropdowns */
		#dropdown {
			display: none;
			background-color: #630031;
		}
		#x {
			display: none;
			margin-left: 50vw;
		}
		
		/* ** window sizing for buttons/content ** */
		/* <!-- small size -- ... adjusts to right side --> */
		@media only screen and (max-width:800px) {
			.pages {
				display: none;
			}
			.expand {
				display: block;
				float: right;
			}
		}
		

		/* account for mobile -- diff image */
		/* 'if size < 426' */
		@media only screen and (max-width: 426px) {
			.pages {
				display: none;
			}
			.expand {
				display: block;
				float: right;
			}
			.tint {
				background-image:
				linear-gradient( /* <!-- give tint to image to make text better readable --> */
					rgba(0, 0, 0, .33),
					rgba(0, 0, 0, .33)
				),
				url("../IMG/whitebirds1.jpg");
				background-size: 120vw;
				width: 100%;
				height: 150vw;
			}
			#img {
				padding: 0px;
				float: center;
				width: 100vw;
				max-width: 400px;
			}
			P {
				font-size: 5vw;
			}
			h1 {
				font-size: 10vw;
			}
			#pagedata {
				width: 100%;
			}
			#second {
				padding: 0px;
				text-align: center;
			}
		}
		
		/*
		*** account for landscape orientations? ***
		*/